<configuration>
    <appender name="JSON-FILE" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/resolver-service.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON-FILE" />
    </root>
</configuration>
